html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: Poppins, sans-serif;
}

body{
  background-color: #0c0c1d;
  color: lightgrey;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}